* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   background-color: #0D1117;
}

li, a, button {
    font-family: "Montserra", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #161B22 ;
}

.logo {
    cursor: pointer;
}

.nav_link {
    list-style: none;

}
.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    padding: 9px 25px;
    background-color: #30363D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}